* {
  --orderContainerHeight: 85vh;
  --orderContainerWidth: 80vw;
  /** page selector */
  --orderScrollHeight: calc(var(--orderContainerHeight) - 15px);
  --orderScrollWidth: calc(var(--orderContainerWidth));

  --orderHeight: calc(var(--orderScrollHeight) / 2);
  --orderWidth: calc(var(--orderScrollWidth) / 6);
  --orderImageHeight: calc(var(--orderHeight) / 3);
  --orderImageWidth: calc(var(--orderWidth));
}

.currentorder-container {
  justify-content: center;
  margin: auto;
  margin-top: 2vh;
  padding: 10px;

  height: var(--productContainerHeight);
  width: var(--productContainerWidth);

  display: grid;

  background-color: #f7f7f7;
}

.currentorder-scroll {
  height: 500px;
  width: 500px;
  background-color: brown;
}

.currentorder-productcard {
  margin: 5px 0px 5px 0px;
  background-color: gray;
}

.currentorder-productcard {
}

.currentorder-productcard img {
  height: var(--orderImageHeight);
  width: var(--orderImageWidth);
}
