h3 {
  text-align: center;
}
.home {
  display: flex;
  text-align: center;
  justify-content: space-around;
  
}
.homeBody {
  max-width: 100%;
  display:flex;
  flex-direction: column;
  align-content: center;
  margin: 10px;
  gap:10px;
}
.pictures {
  width: 100%;
}
.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 100%;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 2000ms;
}

.slide {
  display: inline-block;
  height: 500px;
  width: 100%;
}
.fixAds {
  width: 100%;
}
.threeSlides {
  display: flex;
  flex-direction: row;
  gap: 10px;;
}
.Ca {
  height: 200px;
  width: 33%;
}
/* Buttons */
.test {
  position:absolute;
  top: 30%;
  left: 30%;
  color:white;
  font-size:80px;
}